<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="loandep">
<parameter name="url" value="quclickacademy.com">
  <test name="personal loan">
    <classes>
 <class name="Test.day1"/>
 <class name="Test.day2"/>

      <class name="Test.day4"/>
    </classes>

    
  </test> <!-- Test -->
</parameter>
</suite> <!-- Suite --